<div class="cmp-signup">
    <div class="cmp-signup__container">
        <div class="cmp-signup__content">
            <span id="close-signup">&times;</span>
            <h2>Sign up</h2>
            <form action="./signup" method="post" autocomplete="off">
                <div class="user-input-wrp">
                    <input type="email" name="email" class="inputText"
                        placeholder=" " /> <span class="floating-label">Email
                        address</span>
                </div>
                <div class="user-input-wrp">
                    <input type="password" name="password"
                        class="inputText" placeholder=" " /> <span
                        class="floating-label">Password</span>
                </div>
                <div class="user-input-wrp">
                    <input type="password" name="password"
                        class="inputText" placeholder=" " /> <span
                        class="floating-label">Confirm password</span>
                </div>
                <button type="submit">
                    Sign up</button>
            </form>
        </div>
    </div>
</div>
