@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: white;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex::after {
  content: "";
  display: block;
  margin-bottom: 40px;
}

.flex {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  white-space: nowrap;
  background-color: white;
  z-index: 10;
}
.flex .logo-div {
  display: flex;
  flex-grow: 1;
}
.flex .logo-div a {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 6rem;
}
.flex .logo-div span:first-child {
  background-color: #0061fe;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex .logo-div span {
  flex-basis: 3rem;
  flex-shrink: auto;
  flex-grow: 0;
}
.flex .nav-real-div {
  position: absolute;
  top: 48px;
  width: 100%;
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  z-index: 50;
  background-color: rgb(242, 238, 232);
}
.flex .nav-real-div ul {
  padding: 1rem;
}
.flex .nav-real-div ul li {
  padding: 8px;
  font-size: 16px;
}
.flex .nav-real-div .btn-get-started {
  padding: 10px 0;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.flex .nav-real-div .btn-get-started button {
  align-self: flex-end;
  width: 80%;
  background-color: #0061fe;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.flex .nav-last-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex .nav-last-div div:not(.btn-get-started) {
  padding: 8px;
}
.flex .nav-last-div div a span:not(.none) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(30, 25, 25);
  font-weight: 400;
  line-height: 1.5;
  font-size: 17px;
}

.home-container::before {
  content: "";
  display: block;
  margin-top: 56px;
}

.home-container {
  background-color: rgb(30, 25, 25);
  color: white;
  padding: 0 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
}
.home-container .home-big-text {
  text-align: center;
}
.home-container .home-big-text span {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Hanken Grotesk", sans-serif;
}
.home-container .home-small-text span {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.home-container .home-signup-button {
  background-color: #3984ff;
  width: 13rem;
  margin: auto;
  padding: 1.5rem 0;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-container .home-signup-button span {
  font-weight: 600;
  font-size: 16px;
}
.home-container .home-video-div {
  padding: 2rem 0;
}
.home-container .home-video-div video {
  margin: auto;
}
.home-container .home-dropbox-features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  margin: auto;
}
.home-container .home-dropbox-features h1 {
  font-size: 3rem;
  line-height: 1.2;
}
.home-container .home-dropbox-features .home-dropbox-features-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem 0;
}
.home-container .home-dropbox-features .home-dropbox-features-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 250px;
}
.home-container .home-dropbox-features .home-dropbox-features-container div img {
  height: 3rem;
}
.home-container .home-dropbox-features .home-dropbox-features-container div div {
  text-align: left;
}
.home-container .home-dropbox-features .home-dropbox-features-container div div h2 {
  font-weight: 700;
}

.none {
  display: none;
}

.products-container .products-heading {
  font-size: 2rem;
  text-align: center;
  width: 75%;
  padding: 3rem 0;
  line-height: 1;
  margin: auto;
}
.products-container .products-listing {
  width: 100%;
  padding: 1.5rem 2rem;
}
.products-container .products-listing .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.products-container .products-listing .products .product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1rem;
  width: 300px;
}
.products-container .products-listing .products .product img {
  width: 3.5rem;
}
.products-container .products-listing .products .product h2 {
  font-weight: 500;
  font-size: 18px;
}
.products-container .products-listing .products .product a {
  font-weight: 500;
  display: flex;
  gap: 4px;
}
.products-container .products-listing .products .product a span {
  border-bottom: 1px solid black;
}

.usage {
  background-color: rgb(30, 25, 25);
  padding: 2rem 0;
}
.usage .usage-heading h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 2.5rem 0;
}
.usage .usage-mid {
  width: 100%;
}
.usage .usage-mid .usage-mid-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  gap: 1.5rem;
}
.usage .usage-mid .usage-mid-cont .usage-tile {
  color: white;
  width: 40%;
  height: 100%;
  background-color: #2b2929;
}
.usage .usage-mid .usage-mid-cont .usage-tile .usage-tile-img-cont {
  height: 212px;
  overflow: hidden;
}
.usage .usage-mid .usage-mid-cont .usage-tile .usage-tile-img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.usage .usage-mid .usage-mid-cont .usage-tile .usage-tile-mid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2rem 4rem;
  gap: 2rem;
  aspect-ratio: 1/0.4;
}
.usage .usage-mid .usage-mid-cont .usage-tile .usage-tile-mid span {
  font-size: 24px;
}
.usage .usage-mid .usage-mid-cont .usage-tile .usage-tile-mid .usage-button {
  background-color: #3984ff;
  width: auto;
  padding: 1rem 2rem;
  color: black;
  font-weight: 600;
  gap: 1rem;
  display: flex;
}
.usage .usage-mid .usage-mid-cont .usage-tile .usage-tile-mid .usage-button span {
  font-weight: 600;
  font-size: 16px;
}

.storage {
  background-color: rgb(30, 25, 25);
  color: white;
  padding: 1rem 0;
  padding-bottom: 5rem;
}
.storage .storage-heading h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 2.5rem 0;
}
.storage .storage-content {
  width: 1300px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.storage .storage-content .storage-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 310px;
}
.storage .storage-content .storage-box h1 {
  font-size: 48px;
}
.storage .storage-content .storage-box p {
  font-size: 20px;
}

.dropdown {
  background-color: #f7f5f2;
}
.dropdown .dropdown-heading {
  padding: 3rem 0;
}
.dropdown .dropdown-heading h1 {
  font-size: 40px;
  text-align: center;
  padding: 0.3rem 0;
}
.dropdown .dropdown-heading p {
  font-size: 18px;
  text-align: center;
}
.dropdown .dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.dropdown aside .aside-content {
  padding: 0 2rem;
}
.dropdown aside .aside-content .dropdown-list {
  padding: 2rem 1rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.dropdown aside .aside-content .dropdown-list .dropdown-parent p {
  font-size: 20px;
  font-weight: 500;
}
.dropdown aside .aside-content .dropdown-list:hover {
  background-color: rgb(232, 229, 229);
}
.dropdown aside .aside-content .dropdown-list:first-child {
  border-top: 1px solid gray;
}
.dropdown section {
  transition: width 3s;
}
.dropdown section .dropdown-image {
  height: 100%;
  width: 100%;
  position: relative;
}
.dropdown section .dropdown-image-container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
.dropdown section .dropdown-image-container img {
  width: 80%;
  margin: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dropdown section .dropdown-image-container1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  animation: go 0.3s forwards;
}
.dropdown section .dropdown-image-container1 img {
  width: 80%;
  margin: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@keyframes go {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media (min-width: 994px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .flex .logo-div {
    gap: 1rem;
    align-items: center;
  }
  .flex .logo-div a {
    flex-basis: 100%;
    align-items: center;
    gap: 1rem;
  }
  .flex .logo-div a span {
    font-weight: 700;
    font-size: 22px;
  }
  .flex .logo-div a span svg {
    width: 48px;
  }
  .flex .nav-real-div {
    position: static;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
    background-color: white;
    width: 80%;
  }
  .flex .nav-real-div ul {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0 1.6rem;
    align-items: center;
  }
  .flex .nav-real-div ul li:not(:first-child) {
    padding-left: 2rem;
  }
  .flex .nav-real-div ul .contact {
    margin-left: auto;
  }
  .flex .nav-real-div .btn-get-started {
    display: none;
  }
  .home-big-text {
    width: 50%;
    margin: auto;
  }
  .home-container .home-big-text span {
    font-size: 3rem;
  }
  .home-container .home-small-text span {
    width: 50%;
    display: block;
    margin: auto;
  }
  .nav-last-div {
    padding: 0;
    width: 25%;
  }
  .nav-last-div :not(:first-child) {
    margin-left: 1rem;
  }
  .nav-last-div .btn-get-started {
    width: 100%;
    margin-right: 10px;
  }
  .nav-last-div .btn-get-started button {
    align-self: flex-end;
    width: 100%;
    background-color: #0061fe;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}/*# sourceMappingURL=index.css.map */