<div class="dropdown">
  <div class="dropdown-heading">
    <h1 data-aos="fade-up">What else can Dropbox help you do?</h1>
    <p data-aos="fade-up">
      Dropbox brings everything—traditional files, cloud content, and web
      shortcuts—together in one place.
    </p>
  </div>
  <div class="dropdown-content">
    <aside>
      <div class="aside-content">
        <div class="dropdown-list" data-aos="fade-up" data-id="1" id="1">
          <div class="dropdown-parent">
            <p>Get 2 GB of cloud storage for free with Dropbox Basic</p>
          </div>
          <div class="dropdown-child">
            <p>
              Save and access your files from any device, and share them with
              anyone. Discover what Dropbox can do for you- get a free account,
              no strings attached!
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="dropdown-list" data-aos="fade-up" data-id="2" id="2">
          <div class="dropdown-parent">
            <p>
              Dropbox Plus has room for all your content with space to spare
            </p>
          </div>
          <div class="dropdown-child">
            <p>
              Safeguard your photos, personal docs, work files, and much more.
              Save everything with 2,000 GB of space—and get some handy tools to
              help you stay organized.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="dropdown-list" data-aos="fade-up" data-id="3" id="3">
          <div class="dropdown-parent">
            <p>
              Dropbox Family is a place for everyone with space for everything
            </p>
          </div>
          <div class="dropdown-child">
            <p>
              Share 2,000 GB of storage between 6 people. Each family plan
              member gets their own private Dropbox account for less than the
              price of two Plus plans.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="dropdown-list" data-aos="fade-up" data-id="4" id="4">
          <div class="dropdown-parent">
            <p>
              Make life easier for you and your clients with Dropbox
              Professional
            </p>
          </div>
          <div class="dropdown-child">
            <p>
              Get our full suite of premium productivity and sharing tools—plus
              3,000 GB of space. Dropbox Professional makes it easier for you to
              work with colleagues and clients.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="dropdown-list" data-aos="fade-up" data-id="5" id="5">
          <div class="dropdown-parent">
            <p>Streamline your document workflow with Dropbox Sign</p>
          </div>
          <div class="dropdown-child">
            <p>
              Save yourself time and hassle with Dropbox Sign. You can sign
              legally-binding agreements with a few clicks. And it's just as
              easy to request a signature from someone else.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="dropdown-list" data-aos="fade-up" data-id="6" id="6">
          <div class="dropdown-parent">
            <p>
              Centralize, secure, and easily access your work with Dropbox
              Standard
            </p>
          </div>
          <div class="dropdown-child">
            <p>
              Safeguard sensitive and confidential info. Automate time-consuming
              processes with powerful admin and collaboration tools. And easily
              recover your work if something ever goes wrong. Minimum 3 users
              per plan.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="dropdown-list" data-aos="fade-up" data-id="7" id="7">
          <div class="dropdown-parent">
            <p>DocSend lets you track, analyze, and optimize your content</p>
          </div>
          <div class="dropdown-child">
            <p>
              Safely share business-critical documents and get real-time
              performance insights. DocSend helps you manage and optimize your
              company’s most important content.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="dropdown-list" data-aos="fade-up" data-id="8" id="8">
          <div class="dropdown-parent">
            <p>
              Proactively detect threats to your team’s content with Dropbox
              Advanced
            </p>
          </div>
          <div class="dropdown-child">
            <p>
              Always-on security monitoring and alerts. Extended 1-year version
              history and file recovery. Dropbox Advanced is a secure
              collaboration solution for your entire team. Minimum 3 users per
              plan.
            </p>
            <a href="#">Learn more</a>
          </div>
        </div>
      </div>
    </aside>
    <section data-aos="fade-left">
      <div class="dropdown-image">
        <div
          class="dropdown-image-container"
          style="background-color: rgb(255, 175, 165)"
        >
          <img src="/etc.clientlibs/newsportal/components/mini-tabs-more/clientlib/resources/1d.webp" alt="backimage" />
        </div>
        <div
          class="dropdown-image-container1"
          style="background-color: rgb(255, 140, 25)"
        >
          <img src="/etc.clientlibs/newsportal/components/mini-tabs-more/clientlib/resources/1d.webp" alt="" class="" />
        </div>
      </div>
    </section>
  </div>
</div>
