#cmp-main__clients {

    .aem-Grid {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem 0;

        .text {
            font-size: 1em;

            h2 {
                font-size: 2em;
                color: black;
            }
        }
    }
}