#medium-banner {
    background-color: pink;
    display: flex;
    
    .container {
        height: 100%;
        background-color: #706f6f;
    }
    
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3em 5em;
        font-size: 1em;
        font-weight: 700;

        .text:first-child {

            h2 {
                font-size: 3em;
            }

            p {
                width: 50%;
                font-size: 1.2em;
            }
        }

        .text:nth-child(2) {
            
            p {
                width: 70%;
                padding: .4rem 0;
            }
        }
    }

    &__imaging {
        background: url(https://media-www.sqspcdn.com/images/pages/tour/overview-ecommerce/sell-services-1000w.jpg);
        position: relative;
        height: 100%;

        .cmp-image {
            width: 75%;
            margin: auto;
            aspect-ratio: 1;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}