<!--/* <div class="cmp-comment">
  <div class="cmp-comment__block-header">
    <div class="cmp-comment__block-header__title">
      <h2>Comments</h2>
    </div>
  </div>

  <div class="cmp-comment__writing">
    <div class="textarea" autofocus>
      <p>Enter your comment....</p>
    </div>
    <div class="footer">
      <button class="btn primary">Send</button>
    </div>
  </div>

  <div class="cmp-comment__section">
    <div class="user-banner">
      <div class="user">
        <div class="avatar">
          <img src="https://randomuser.me/api/portraits/men/86.jpg" />
        </div>
        <h5>Floyd Miles</h5>
        <span class="is-mute">6 hour ago</span>
      </div>
    </div>
    <div class="content">
      <p>
        Actually, now that I try out the links on my message, above, none of
        them take me to the secure site. Only my shortcut on my desktop, which I
        created years ago.
      </p>
    </div>
    <div class="cmp-comment__section__footer">
      <div class="reactions">
        <button class="btn react">
          <i class="fa-solid fa-thumbs-up"></i>
          4
        </button>
        <button class="btn react">
          <i class="fa-solid fa-thumbs-down"></i>
          1
        </button>
      </div>
      <a href="#">Reply</a>
    </div>
  </div>
</div> */-->
